{include 'header.tpl.html' title='View Book'}

<div>
    <div id="item-image">
        <img src="view_image.php?:isbn={$book.isbn}&handler=ShowLargeImage" alt="Image" width="320" height="480" />
    </div>
    <div id="item-details">
        <h3>Details </h3>
        
        <table>
            <tr>
                <th>Title:</th>
                <td>{$book.title}</td>
            </tr>
            <tr>
                <th>Author:</th>
                <td>{$book.author_name_first} {$book.author_name_last}</td>
            </tr>
            <tr>
                <th>Price:</th>
                <td>{$book.price}</td>
            </tr>
        </table>
        
        <h3>Description</h3>

        {$book.description}
        <br/><br/>
        <form method="post" action="{$smarty.server.PHP_SELF}">
            <input type="hidden" name=":isbn" value="{$book.isbn}"/>
            <label>Quantity: <input type="number" name=":quantity" min="1" max="99" value="1"/></label>
            <input type="submit" name="handler" value="Add to Basket" />
        </form>
    </div>
</div>

<div id="dummy"></div>

{if count($comments) ge 1}
<h3>Buyer Reviews</h3>

{foreach from=$comments item=comment}
    {$comment.name_first} {$comment.name_last}
    {$comment.review}
    {$comment.score}
{/foreach}
{/if}

{if $canComment}

<h3>Write a Review</h3>

<form method="post" action="{$smarty.server.PHP_SELF}">
    <input type="hidden" name=":isbn" value="{$book.isbn}"/>
    <label> Review:<br/><textarea name=":review"></textarea></label><br/><br/>
    <label> Score from 1 to 5:<br/><input type="number" name=":score" max="5" min="1" /></label><br/><br/>
    <input type="submit" name="handler" value="Review" />
</form>
{/if}

{include 'footer.tpl.html'}